* { 
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./imgs/ponte.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
}

#logo {
    padding-top: 15px;
    width: 150px;
}

.escolha {
    width: 50%;
    padding-left: 25%;
}
.escolha1 {
    color: black;
    font-size: 35px;
    text-align: center;
}

.personagens {
    width: 100%;
    font-size: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.personagens1 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-weight: bold;
    font-size: 35px;
}

.opções {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
}

#griliimg {
    width: 180px;
    height: 150px;
    border-radius: 70%;
    cursor: pointer;
}

#mulanimg {
    width: 180px;
    height: 150px;
    border-radius: 70%;
    cursor: pointer;
}

#mushuimg{
    width: 200px;
    height: 150px;
    border-radius: 70%;
    cursor: pointer;
}
.personagens img {
    transition: 0.4s;
}

.personagens img:hover {
    filter: drop-shadow(0 10px 16px white);
    
}

button {
    background-color: #790a2a;
    color: #de6689;
    border:#de6689;
    width:200px;
    padding-bottom: 5px;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 30px;
    margin-right: 10px;
}

button:hover {
    background-color: #de6689;
    color: #790a2a;
    font-size: 42px;
}

#escolherjs {
    background-color: #790a2a;
    color: #de6689;
    border:#de6689;
    width:200px;
    padding-bottom: 5px;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 30px;
    margin-left: 10px;
}

#escolherjs:hover {
    background-color: #de6689;
    color: #790a2a;
    font-size: 42px;
}