* { 
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./imgs/Jardim\ -\ Inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
}

#logo {
    padding-top: 15px;
    width: 230px;
}
#titulo {
    text-align: center;
    font-size: 80px;
    color: #191e5e;
    margin-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em white;
}

.iniciohistoria {
    width: 50%;
    padding-left: 25%;
}
.paragrafoinicial {
    color: #191e5e;
    font-size: 45px;
    text-align: center;
}

#play {
    background-color: #790a2a;
    color: #de6689;
    border:#de6689;
    width:200px;
    padding-bottom: 5px;
    border-radius: 50%;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
}

#play:hover {
    background-color: #de6689;
    color: #790a2a;
    font-size: 45px;
}

a {
    text-decoration: none;
}

@media (max-width: 769px) {
    body {
        background-image: url("./imgs/Jardim\ -\ Inicio.jpg");
        background-size: auto;
    }
    #logo {
        width:150px
    }
    #titulo {
        font-size: 40px;
    }
    .paragrafoinicial {
        font-size: 25px;
    }
    #play {
        width: 80px;
        font-size: 20px;
        margin-top: 30px;
    }
    #play:hover {
        background-color: #de6689;
        color: #790a2a;
        font-size: 22px;
    }
}    

@media (max-width: 426px) {
    body {
        background-image: url("./imgs/iniciocelular.jpg");
        background-size: 150%;
    }
    #logo {
        width: 80px;
    }
    #titulo {
        font-size: 25px;
    }
    .paragrafoinicial {
        font-size: 20px;
    }
    #play {
        width: 55px;
        font-size: 22px;
        margin-top: 10px;
    } 
    #play:hover {
        background-color: #de6689;
        color: #790a2a;
        font-size: 24px;
    }
    
}   

@media (min-width: 1600px) {
    body {
        background-image: url("./imgs/Jardim\ -\ Inicio.jpg");
        background-size: cover;
    }
    #logo {
        width:300px
    }
    #titulo {
        font-size: 80px;
    }
    .paragrafoinicial {
        font-size: 60px;
    }
    #play {
        width: 150px;
        font-size: 45px;
        margin-top: 30px;
        margin-left: 20px;
    }
    #play:hover {
        background-color: #de6689;
        color: #790a2a;
        font-size: 47px;
    }
}    
