* { 
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./imgs/0014513.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
}

#logo {
    padding-top: 15px;
    width: 150px;
}

.fimdejogo {
    width: 100%;
    color: #790a2a;
}
.gameover {
    color: #790a2a;;
    font-size: 80px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em white;
    margin-top: 15px;
}

.texto {
    width: 50%;
    padding-left: 25%;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

#gif {
    align-items: center;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    border-radius: 60%;
}

#gif:hover {
    filter: drop-shadow(0 10px 16px white);
    width: 400px;
    height: 250px;
}

button {
    background-color: #790a2a;
    color: #de6689;
    border:#de6689;
    width:200px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
}

button:hover {
    background-color: #de6689;
    color: #790a2a;
    font-size: 35px;
}

a {
    text-decoration: none;
}

@media (max-width: 769px) {
    body {
        background-image: url("./imgs/0014513.jpg");
        background-size: 110%;
    }
    #logo {
        width:90px;
    }
    .gameover {
        font-size: 30px;
        margin-top: 2px;
    }
    .texto {
        font-size: 20px;
    }
    #gif {
        width: 200px;
        height: 150px;
        margin-top: 4px;
    }
    #gif:hover {
        filter: drop-shadow(0 10px 16px white);
        width: 230px;
        height: 180px;
    }
    button {
        width: 120px;
        font-size: 20px;
        margin-top: 4px;
    }
    button:hover {
        font-size: 22px;
    }
}    

@media (max-width: 426px) {
    body {
        background-image: url("./imgs/gameoverscel.png");
        background-size: 200%;
    }
    #logo {
        width:90px;
    }
    .gameover {
        font-size: 25px;
        margin-top: 2px;
    }
    .texto {
        font-size: 22px;
    }
    #gif {
        width: 150px;
        height: 100px;
        margin-top: 4px;
    }
    #gif:hover {
        filter: drop-shadow(0 10px 16px white);
        width: 230px;
        height: 180px;
    }
    button {
        width: 120px;
        font-size: 20px;
        margin-top: 4px;
    }
    button:hover {
        font-size: 22px;
    }
} 