* { 
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./imgs/Jardim\ -\ Inicio.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
}

#logo {
    padding-top: 15px;
    width: 150px;
}

.fimdejogo {
    width: 50%;
    margin-left: 25%;
    color: #ffffff;
}
.vitoria {
    color: #ffffff;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em #790a2a;
    margin-top: 15px;
}

p.vitoria {
    font-size: 60px;
    color: #ffffff;
}

.texto { 
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em #790a2a;
}

#gif {
    align-items: center;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    border-radius: 60%;
}

#gif:hover {
    filter: drop-shadow(0 10px 16px white);
    width: 380px;
    height: 230px;

}

button {
    background-color: #de6689;
    color: #191e5e;
    border:#191e5e;
    width:180px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    font-family: 'Square Peg', cursive;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 25px;
}

button:hover {
    background-color: #5ae4ef;
    color: #191e5e;
    font-size: 35px;
}

a {
    text-decoration: none;
}

@media (max-width: 769px) {
    body {
        background-image: url("./imgs/Jardim\ -\ Inicio.jpg");
        background-size: 150%;
    }
    #logo {
        width:90px;
    }
    .vitoria {
        font-size: 30px;
        margin-top: 2px;
    }
    .texto {
        font-size: 20px;
        margin-top: 2px;
    }
    #gif {
        width: 230px;
        height: 100px;
        margin-top: 4px;
    }
    #gif:hover {
        filter: drop-shadow(0 10px 16px white);
        width: 260px;
        height: 130px;
    }
    button {
        width: 120px;
        font-size: 20px;
        margin-top: 4px;
    }
    button:hover {
        font-size: 22px;
    }
}    

@media (max-width: 426px) {
    body {
        background-image: url("./imgs/iniciocelular.jpg");
        background-size: 150%;
    }
    #logo {
        width:90px;
    }
    .vitoria {
        font-size: 25px;
        margin-top: 2px;
    }
    .texto {
        font-size: 15px;
    }
    #gif {
        width: 150px;
        height: 100px;
        margin-top: 4px;
    }
    #gif:hover {
        filter: drop-shadow(0 10px 16px white);
        width: 160px;
        height: 10px;
    }
    button {
        width: 120px;
        font-size: 20px;
        margin-top: 4px;
    }
    button:hover {
        font-size: 22px;
    }
} 
